@{
  Layout = "_Layout";
}

@model University.Models.Student  //this is where we get the 'model' which represents students.

<h4>Add a new Student</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.StudentName)
    @Html.TextBoxFor(model => model.StudentName)

    @Html.Label("Select Course")
    @Html.DropDownList("CourseId") //this is where we use the viewbag. The HTML helper makes it so we don't need to type "Viewbag.CourseId" to get the viewbag info.

    <input type="submit" value="Add new student" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all students", "Index")</p>