@{
  Layout = "_Layout";
}

@using University.Models;
@model List<University.Models.Classes>;

@* <h1>Childs</h1>

@if (@Model.Count == 0)
{
  <h3>No items have been added yet!</h3>
} 

@foreach (Child child in Model)
{
  <li>@Html.ActionLink($"{child.Description}", "Details", new { id = child.ChildId }) | @child.Parent.Name</li>
}

<p>@Html.ActionLink("Add new child", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p> *@