@{
  Layout = "_Layout";
}

@using University.Models;
@model List<University.Models.Classes>;

<h1>Students</h1>

@if (@Model.Count == 0)
{
  <h3>No students have been added yet!</h3>
} 

@foreach (Student student in Model)
{
  <li>@Html.ActionLink($"{student.StudentName}", "Student Name", new { id = student.StudentId }) | @student.Class.ClassName</li>
}

<p>@Html.ActionLink("Add new student", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>